html
    head
        title Facebook
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        link(href="https://fonts.googleapis.com/css?family=Pontano+Sans&display=swap" rel="stylesheet")
    body
        .container
            div.p-3.mb-2.bg-primary.text-white
                .h1 Facebook 
            div#new-state
                input#user-name.form-control.is-invalid(placeholder="usuario")
                button#send-username.btn.btn-primary Actualizar Usuario
            div.mb-3.p-3
                textarea#state-text.form-control.is-invalid(placeholder="Qué estás pensando")
                button#send-state.btn.btn-primary Actualizar Estado
            div#states
            script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.1/socket.io.js")
            script(src="./js/main.js")
